extends ../layouts/application.html.pug

block title
  = `${__('views.home.index.title')} - `

append page_stylesheets
  link(rel="stylesheet" type="text/css" href=`/assets/css/home.css?${version}`)

append page_javascripts
  script(type="text/javascript" src=`/assets/js/home.js?${version}`)

block content
  h1 home/index
  p Find me in views/home/index.html.pug
  if current_user
    p #{__('app.words.hello')}, #{current_user.username},
      a(href="/user/logout" data-user="logout" data-method="post")= __('app.words.logout')
  else
    p: a(href="/user/login")= __('app.words.login')
